{% extends 'base.html' %}

{% block title %}Event Item{% endblock %}

{% block content%}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3 text-center">
            <h1 class="my-3">{{event_name}}</h1>
            <h3>Description</h3>
            <p>{{description}}</p>
            <h3>Status</h3>
            <p>{{status}}</p>
            <a class="btn btn-warning text-white" href="{% url 'todolist:index' %}">Back to Events</a>
        </div>
    </div>
</div>
{% endblock %}